html, body {
background: url("mybackgroundimage.gif") repeat;
}

.main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.about, .ceo, .contact {
  width: 100%;
}

@media (min-width: 600px) {
  .about, .ceo, .contact {
    width: 50%;
  }
}

@media (min-width: 800px) {
  .about {
    width: 60%;
  }
  .ceo {
    width: 40%;
  }
  .contact {
    width: 33.33%;
  }
}

@media (min-width: 800px) {
  .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

   #banner {
   text-align: center; 
   position: relative;
   top: 0px;
   left: 0px;
   right: 0px;
   width: 60%;
   height: 200px;
   min-width:100%;	   
   z-index: -1;
   }
