html{
   @media only screen and (max-width: 500px) {

 body {
background: url("mybackgroundimage.gif") repeat;
}

#banner {
   text-align: center; 
   position: relative;
   top: 0px;
   left: 0px;
   right: 0px;
   width: 60%;
   height: 200px;
   min-width:100%;	   
   z-index: -1;
   }
  

